pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.app-layer-main {
    .app-layer-aside,.app-layer-body {
        min-height: 100vh;
    }
    .app-layer-aside {
        border-right: 1px solid #eaeaea;
        .logo {
            box-sizing: border-box;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #303f9f;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
            .normal {
                width: 80px;
            }
            .small {
                width: 60px;
            }
        }
        .app-layer-menu {
            padding-top: 12px;
            .ant-menu-item {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .ant-menu-inline-collapsed {
            .app-menu-title {
                max-width: 0;
                display: inline-block;
                opacity: 0;
            }
        }
        .app-menu-title {
            user-select: none;
        }
    }
    .app-layer-header {
        height: 55px;
        background: #3f51b5;
        color: #fff;
        padding: 0;
        display: flex;
        justify-content:space-between;
        line-height: 55px;
        padding: 0 24px;
        .trigger {
            font-size: 18px;
            line-height: 55px;
            cursor: pointer;
            transition: color .3s;
        }
        .icon-menu-fold {
            font-size: 18px;
            cursor: pointer;
        }
        .dropdown {
            cursor: pointer;
            height: 55px;
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 24px;
            .icon-small {
                margin-left: 3px;
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                font-size: 16px;
            }
        }
    }
    .app-layer-content {
        min-height: 280px;
        .app-layer-content-header {
            background: #fff;
            padding: 16px 32px;
            .header-title {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 16px;
            }
        }
        .app-layer-content-body {
            padding: 12px;
            margin: 12px;
        }
    }
}
.hey-icon+span {
    margin-left: 10px;
    &.sub-menu {
        margin-left: 3px;
    }
}
.ant-dropdown-menu-item {
    &.pure-text{
        &:hover {
            cursor: text;
            background-color: transparent;
        }
    }
}
.ant-dropdown {
    .menu-wide {
        min-width: 150px;
    }
}
.app-card {
    margin-bottom: 24px;
}
.app-server-group-list {
    line-height: 1;
    .title {
        font-weight: 500;
        margin: 10px 0;
    }
    .oper-delete {
        //color:
    }
}
.app-link {
    cursor: pointer;
    color: #1890ff;
    &:hover {
        color: #40a9ff;
    }
}
.app-cursor {
    cursor: pointer;
}
.app-color-success {
    color: #52c41a;
}
.app-color-error {
    color: #f5222d;
}
.app-color-info {
    color: #1890ff;
}
.app-color-warning {
    color: #e6a23c;
}
.app-color-gray {
    color: #999;
}
.app-line-through {
    text-decoration: line-through;
}
.app-mt-10 {
    margin-top: 10px;
}
.app-mt-20 {
    margin-top: 20px;
}
.app-font-small {
    font-size: 12px;
}
.app-op {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
    &.app-remove {
        color: #f5222d;
        &:hover {
            color: #cf1322;
        }
    }
    &.app-no-allow {
        cursor: not-allowed;
    }
    .anticon,.hey-icon {
        margin-right: 3px;
    }
}
.app-btn-group {
    margin-bottom: 15px;
}
.app-modal-list {
    .item {
        padding: 8px 0;
        border-bottom: 1px solid #e8e8e8;
        .op {
            display: none;
        }
        &:hover {
            .op {
                display: inline-block;
            }
        }
    }
}
.app-check-box {
    .ant-checkbox-group {
        width: 100%;
        .item {
            padding: 8px 0;
            border-top: 1px solid #eaeaea;

            .ant-checkbox-wrapper {
                margin: 0 18px 10px 0;
                min-width: 140px;
            }
        }
    }
}
.app-content-list {
    .title {
        font-weight: 600;
        color: #3c3c3c;
    }
    .description {
        margin-top: 5px;
        color: #8c8c8c;
    }
}
.app-small-text {
    font-size: 12px;
}
.app-login {
    width: 100%;
    height: 100%;
    background-image: url('../assets/login_bg.jpg');
    background-position: 50%;
    background-size: cover;
    .app-login-inner {
        width: 100%;
        height: 100%;
    }
    .login-container {
        display: flex;
        justify-content: center;
        .login-box {
            margin-top: 20vh;
            width: 30vw;
            .login-title {
                font-weight: 500;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
    .login-cpy {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        color: #fff;
        a {
            margin: 0 5px;
        }
    }
}
.app-shell {
    background-color: rgba(40, 46,52, 1);
    color: #b8c0cc;
    padding: 10px;
    line-height: 1.3;
    border-radius: 4px;
}
.app-release {
    .sp-title {
        font-weight: 500;
        width: 80px;
        display: inline-block;
    }
    .app-server-groups {
        padding: 0 20px;
        margin-top: 20px;
        h4 {
            padding: 10px 5px;
            background: #f7f7f7;
        }
    }
    .shell {
        background-color: rgba(40, 46,52, 1);
        color: #b8c0cc;
        padding: 10px;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 600px;
        overflow: hidden;
        overflow-y: auto;
        .shell-title {
            color: #ffff91;
        }
        .shell-sub-title {
            color: #fff;
        }
        .shell-body {
            margin-bottom: 15px;
        }
    }
}
.app-dashboard{
    .dashboard-container {
        .meta {
            display: flex;
            align-items:center;
            .content {
                margin-left: 20px;
                font-weight: 500;
                color: rgba(0,0,0,.85);
            }
        }
        .quick-start {
            margin-top: 20px;
            .quick-item {
                padding: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover {
                    color: #1890ff;
                }
                .item-icon {
                    margin-right: 3px;
                }
            }
        }
        .go {
            padding: 50px;
            display:flex;
            justify-content: center;
            .logo {
                width: 100px;
                height: 136px;
            }
        }
    }
}
.app-cpy {
    margin: 20px 0;
    color: #777;
    a {
        color: #777;
    }
}
