.hey-icon {
    display: inline-block;
    font-style: normal;
    vertical-align: -.125em;
    text-align: center;
    text-transform: none;
    line-height: 0;
    text-rendering: optimizeLegibility;
    svg {
        display: inline-block;
    }
    &>* {
        line-height: 1;
    }
    &.icon-small {
        font-size: 0.8em;
    }
}
